body {
  margin: 0;
  padding: 0;
  color: #2c2c2c;
}

.container {
  width: 1366px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
}
/* Header */
.header{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  opacity: 0.7;
}

.header p {
  margin: 10px;
}

.right {
  display: flex;
  justify-content: space-between;
}

.right img {
  width: 20px;
}
/* Header Ends Here */